<?xml version="1.0" encoding="UTF-8"?>
<widget	xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0" 
        version="1" id="com.ffm.pruebaFox">
    <name>PruebaFox</name>
    <author>FFM</author>  
    <preference name="permissions"                value="none"/>
    <description>pruebas de la fox</description>
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="fullscreen" value="true" />
    <content src="index.html" />
    <!-- Android -->
    <preference name="android-minSdkVersion" value="14" />
   
    <feature name="http://api.phonegap.com/1.0/file" /> 
    <access origin="*"/>
    <access origin="http://gestorcontenido.azurewebsites.net/" subdomains="true" />
    <access origin="http://gestorcontenido.azurewebsites.net/getFiles.php" subdomains="true" />
</widget>